# Документация и конфигурация
include README.md
include requirements.txt
include requirements-dev.txt
include .gitignore

# Примеры
include example.py
include examples/*

# Исходный код
recursive-include geometry_calculator *.py

# Тесты
recursive-include tests *.py

# Исключаем ненужные файлы
global-exclude *.pyc
global-exclude __pycache__/*
prune venv 